@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f06d16;
}

.navbar a {
  font-weight: 600;
  margin-left: auto;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f06d16;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
main {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* movies*/
.movie-name {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.movie-name:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}
.movie-name h2 {
  font-size: 25px;
  color: #000000;
  margin-bottom: 8px;
}
.movie-name p {
  font-size: 20px;
  color: #000000;
  margin-bottom: 8px;
}

/*Person*/
.card-list {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 20px 0;
  border-bottom: 1px solid #38383841;
  border-radius: 5px 5px 5px 5px;
  list-style: none;
  transition: transform 0.5s cubic-bezier(0.39, 0.41, 0.19, 0.82);
}
.card-list:hover {
  transform: scale(1.1);
  transition: transform 0.5s cubic-bezier(0.39, 0.41, 0.19, 0.82);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.card-list h2 {
  font-size: 25px;
  color: #000000;
  margin-bottom: 8px;
}
.card-list h4 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 8px;
  display: inline-block;
}
.card-list img {
  width: 125px;
  height: 150px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 10px -10px;
}
.card-text {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.name {
  margin-right: 20px;
}

.genres-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.genres-list li {
  margin-right: 10px;
}

.selectGenre {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px 0;
  border-bottom: 1px solid #38383841;
  border-radius: 5px 5px 5px 5px;
  list-style: none;
  transition: transform 0.5s cubic-bezier(0.39, 0.41, 0.19, 0.82);
}
.selectGenre:hover {
  transform: scale(1.2);
  transition: transform 0.5s cubic-bezier(0.39, 0.41, 0.19, 0.82);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.genre-div {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
  transition: ease-in-out 1sec;
}
